// Define variables for your color scheme

// For example:
$red: #a87172;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$ofruit: #de8901;
$okgs: #4a3e5c;
$oname: #919191;
$green: #5ad85a;
$gray: #0e0000;
$light-gray: #f4f4f4;
