.spaceone {
  background-color: #4b4747;
  a:link {
    text-decoration: none;
  }
}

.spacetwo {
  background-color: hsl(0, 0%, 80%);
  a:link {
    text-decoration: none;
  }
}

.spacethree {
  background-color: #b08c40;
}

.navgrid {
  a:link {
    text-decoration: none;
  }
}

.card-pickups {
  border: 2px solid black;
}

.margingive {
  margin: 12px;
}
